<div class="wrapper">
  <div class="logo">
    <img
      src="https://img.collegedekhocdn.com/media/img/institute/logo/brindavan-group-of-institutions-logo.jpg?tr=h-150,w-150"
      alt="logo"
    />
  </div>
</div>
<marquee
  background
  color="white"
  scrolldelay="50"
  width="100%"
  height="150px"
  direction="left"
>
  <a href=""><b>THERE IS NOTHING IMPOSSIBLE FOR THEY WHO WILL TRY</b></a>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <hr />
  <a href="https://www.brindavancollege.com/principal-message.php"
    >current notifications</a
  >
</marquee>
<header id="header">
  <a href="" class="logo"> </a>
  <ul>
    <li><a href="/" class="active">Home</a></li>
 
  </ul>
</header>
