{% load static %}

<div class="wrapper">
  <div class="logo">
      <!--<img src="download.png" alt="logo">!-->
      <img src="{% static 'download.png' %}" alt="logo">
      
      
</div>
</div>
<marquee background color="white" scrolldelay="50" width="100%" height="150px"
direction ="left">
  <a href="project.html"><B>THERE IS NOTHING IMPOSSIBLE FOR THEY WHO WILL TRY</B></a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <hr>
  <a href="https://www.brindavancollege.com/principal-message.php">current notifications</a>
  
</marquee>
<header id="header">
  <a href="a" class="logo">

  </a>
  <ul>
    <li><a href="/" class="active">Home</a></li>
    <li><a href="category/announcements/">Announcement</a></li>
    <li><a href="files/">Publications</a></li>
    <li><a href="category/achievements/">Achievements</a></li>
    <li><a href="news/mynews/">News</a></li>
  </ul>
</header>