{% extends "base.html" %}

{% block content %}
{% include "nav-bar.html" %}

<h1 class="text-center text-primary">sports</h1>
<div class="container">
  <div class="row">
    {% for i in articles %}

    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="{{i.urlToImage}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text">{{i.description}}</p>
          <a href="{{i.url}}" class="btn btn-outline-dark">Full Article</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}